h1{
	font-size: 64pt;
	margin-bottom: 0px;
	font-family: "League Spartan", sans-serif;
}
h2{
	font-size: 32pt;
	font-family: "League Spartan", sans-serif;
	text-align: left;
}
body{ 
	background-image: url(vouge.jpg);
	background-size: 105%;
}

.gallery{ 
	background-color: #EFE1D0;
}
